/* DEFINICIÓ DE VARIABLES I FONTS */
:root {
  --font-titol: 'Azaret Mono', monospace;
  --font-cos: 'Chivo Mono', monospace;
  --background: #121212;
  --foreground: #efefef;
  --nav-text: #efefef;
  --border-color: #222222;
  --subtext: #efefef;
  --dot-color: #333333; /* <-- AFEGEIX AIXÒ */
}

[data-theme='light'] {
  --background: #efefef;
  --foreground: #121212;
  --nav-text: #121212;
  --border-color: #cccccc;
  --subtext: #121212;
  --font-titol: 'Azaret Mono', monospace;
  --font-cos: 'Chivo Mono', monospace;
  --dot-color: #cccccc; /* <-- AFEGEIX AIXÒ */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-cos) !important;
  /* Millora la definició de les fonts monoespaiades */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Evita que el navegador decideixi el gruix per tu */
  font-weight: 500; 
}

a {
  color: inherit;
  text-decoration: none;
}